* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;

    h1 {
        text-align: center;
    }

    .piano {
        width: 90%;
        min-width: 200px;
        height: 300px;
        background-color: #d3d3d34A;
        // position: absolute;
        // bottom: 1rem;
        // left: 50%;
        // transform: translateX(-50%);
        margin-inline: auto;
        border-radius: .5rem;
        overflow-y: auto;
        padding: .5rem;



        .bigkeys {
            width: 100%;
            height: 100%;
            display: flex;
            gap: .2rem;

            .minorKey {
                position: absolute;
                top: 0;
                left: 100%;
                transform: translateX(-50%);
                z-index: 3;
                width: 100%;
                max-width: 40px;
                min-width: 20px;
                height: 50%;
                background-color: black;
                color: white;

                display: flex;
                justify-content: center;
                align-items: flex-end;
                font-size: 1.5rem;
                padding: .5rem;

                border-radius: .5rem;
                box-shadow: 2px 2px #a5a5a5;
                user-select: none;
            }

            .key {

                position: relative;
                width: 10%;
                min-width: 40px;
                height: 100%;
                background-color: white;
                border-radius: .5rem;
                box-shadow: 2px 2px #a5a5a5;
                color: black;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                font-size: 1.5rem;
                padding: .5rem;
                user-select: none;
            }

            // .key:active,
            // .minorKey:active {
            //     box-shadow: 0 0 2px;
            // }

            .active {
                box-shadow: 0 0 2px ;
            }


        }
    }
}